.form{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: auto; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 25px 10px;
    border-radius: 8px;
    background-color: gainsboro;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.form>label+input+select{
    padding:5px 0px ;
    margin: 6px 0px;
    border-radius: 8px;
}
label{
    text-align: left;
}
button{
    padding: 5px;
    margin: 15px 0px;
    background-color: #2874f0;
    border: none;
}